<% content_for :title do %>
  Cardápios
<% end %>
<table class="table">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.restaurant.name') %></th>
      <th><%= t('activerecord.attributes.menu.dish') %></th>
      <th><%= t('activerecord.attributes.menu.weekday') %></th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.restaurant.name %></td>
        <td><%= menu.dish %></td>
        <td><%= t('weekday').fetch(menu.weekday) %></td>
        <td>
          <%= link_to restaurant_menu_path(@restaurant, menu), class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-search"></span>
          <% end %>
          <%= link_to edit_restaurant_menu_path(@restaurant, menu), class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-edit"></span>
          <% end %>
          <%= link_to restaurant_menu_path(@restaurant, menu), method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-primary btn-xs' do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Voltar', restaurants_path, class: 'btn btn-primary btn-md' %>
<%= link_to new_restaurant_menu_path, class: 'btn btn-primary btn-md' do %>
  <span class="glyphicon glyphicon-plus"></span> Novo Cardápio
<% end %>
