<h1>Listing menus</h1>

<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Dish</th>
      <th>Weekday</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.restaurant.name %></td>
        <td><%= menu.dish %></td>
        <td><%= menu.weekday %></td>
        <td><%= link_to 'Show', restaurant_menu_path(@restaurant, menu) %></td>
        <td><%= link_to 'Edit', edit_restaurant_menu_path(@restaurant, menu) %></td>
        <td><%= link_to 'Destroy', restaurant_menu_path(@restaurant, menu), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu', new_restaurant_menu_path %> |
<%= link_to 'Back', restaurants_path %>
