<% content_for :title do %>
  Cardápio:
<% end %>
<p>
  <strong><%= t('activerecord.attributes.menu.dish') %>:</strong>
  <%= @menu.dish %>
</p>

<p>
  <strong><%= t('activerecord.attributes.menu.weekday') %>:</strong>
  <%= t('weekday').fetch(@menu.weekday) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.name') %>:</strong>
  <%= @menu.restaurant.name %>
</p>

<%= link_to 'Voltar', restaurant_menus_path, class: 'btn btn-primary btn-md' %>
<%= link_to 'Editar Cardápio', edit_restaurant_menu_path, class: 'btn btn-primary btn-md' %>
