<% content_for :title do %>
  Cardápio:
<% end %>
<p>
  <strong>Dish:</strong>
  <%= @menu.dish %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @menu.weekday %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu.restaurant.name %>
</p>

<%= link_to 'Voltar', restaurant_menus_path, class: 'btn btn-primary btn-md' %>
<%= link_to 'Editar Cardápio', edit_restaurant_menu_path, class: 'btn btn-primary btn-md' %>
