<p>
  <strong>Dish:</strong>
  <%= @menu.dish %>
</p>

<p>
  <strong>Weekday:</strong>
  <%= @menu.weekday %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu.restaurant.name %>
</p>

<%= link_to 'Edit', edit_restaurant_menu_url %> |
<%= link_to 'Back', restaurant_menus_url %>
