<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title"><strong>Restaurantes</strong></h1>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th width="150"></th>
            </tr>
          </thead>
          <tbody>
            <% @restaurants.each do |restaurant| %>
              <tr>
                <td><%= restaurant.name %></td>
                <td><%= restaurant.price %></td>
                <td><%= restaurant.latitude %></td>
                <td><%= restaurant.longitude %></td>
                <td>
                  <%= link_to restaurant_menus_path(restaurant), class: 'btn btn-primary btn-xs' do %>
                    <span class="glyphicon glyphicon-th-list"></span>
                  <% end %>
                  <%= link_to restaurant, class: 'btn btn-primary btn-xs' do %>
                    <span class="glyphicon glyphicon-search"></span>
                  <% end %>
                  <%= link_to edit_restaurant_path(restaurant), class: 'btn btn-primary btn-xs' do %>
                    <span class="glyphicon glyphicon-edit"></span>
                  <% end %>
                  <%= link_to restaurant, method: :delete, data: { confirm: 'Tem certeza?' }, class: 'btn btn-primary btn-xs' do %>
                    <span class="glyphicon glyphicon-trash"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= link_to new_restaurant_path, class: 'btn btn-primary btn-md' do %>
          <span class="glyphicon glyphicon-plus"></span> Novo Restaurante
        <% end %>
      </div>
    </div>
  </div>
</div>
