<% content_for :title do %>
  Restaurante:
<% end %>
<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @restaurant.price %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @restaurant.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @restaurant.longitude %>
</p>

<%= link_to 'Voltar', restaurants_path, class: 'btn btn-primary btn-md' %>
<%= link_to 'Editar Restaurante', edit_restaurant_path, class: 'btn btn-primary btn-md' %>
