<% content_for :title do %>
  Restaurante:
<% end %>
<p>
  <strong><%= t('activerecord.attributes.restaurant.name') %>:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.price') %>:</strong>
  <%= @restaurant.price %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.latitude') %>:</strong>
  <%= @restaurant.latitude %>
</p>

<p>
  <strong><%= t('activerecord.attributes.restaurant.longitude') %>:</strong>
  <%= @restaurant.longitude %>
</p>

<%= link_to 'Voltar', restaurants_path, class: 'btn btn-primary btn-md' %>
<%= link_to 'Editar Restaurante', edit_restaurant_path, class: 'btn btn-primary btn-md' %>
